.red-custom-text {
    color: #F92F45;
}

.yellow-custom-text {
    color: #E6B749
}

.white-custom-text {
    color: #D3D0A7;
}

.green-custom-text {
    color: #1B947F;
}

.blue-custom-text {
    color: #141C3C
}