@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Francois+One|Josefin+Sans&display=swap');

// Goldenhand Software Colors
$g-red: #F92F45;
$g-yellow: #E6B749;
$g-white: #D3D0A7;
$g-green: #1B947F;
$g-blue: #141C3C;
$g-white-like: hsl(0, 0%, 94%);

// Goldenhand Software Fonts
$g-header-font: "Francois One";
$g-content-font: "Josefin Sans";

//Bulma Navbar Customizations
$navbar-height: 5rem;
$navbar-item-color: $g-red;
$navbar-item-active-color: $g-red;
$navbar-item-active-background-color: $g-blue;
$navbar-item-hover-color: $g-red;
$navbar-item-hover-background-color: $g-white-like;
$navbar-burger-color: $g-red;

// Bulma Form Customization
$input-radius: 20px;
$danger: $g-red;

@import "../node_modules/bulma/bulma.sass";

//navigation component styling
.navbar {
  .navbar-item {
    padding: 0.5rem 1.5rem;
    font-family: $g-content-font, serif;

    img {
        min-height: 3rem;
        max-height: 4rem;
    }
  }

  .navbar-burger:hover {
    color: $g-red;
  }
}

.company-title {
  color: $g-blue;
  font-family: $g-header-font, sans-serif;
  font-size: 1.5rem;
  padding-left: 0.5rem;
}

@media (max-width: 576px) {
  .company-title {
    font-size: 1.5rem;
    color: $g-red;
  }
}

@media (max-width: 441px) {
  .company-title {
    font-size: 1rem;
    color: $g-red;
  }
}
//navigation component styling

//preloader component styling
$width: 100px;
$height: $width/2;
$time: 0.4s;

@mixin animation($name) {
  @-webkit-keyframes #{$name} {@content;}
  @-moz-keyframes #{$name} {@content;}
  @-o-keyframes #{$name} {@content;}
  @keyframes #{$name} {@content;}
}

@include animation(up) {
  0%, 100% {
    transform: rotate(0);
  } 
  50% {
    transform: rotate(-30deg);
  }
}

@include animation(down) {
  0%, 100% {
    transform: rotate(0);
  } 
  50% {
    transform: rotate(30deg);
  }
}

@include animation(r-to-l) {
  100% {
    margin-left: -1px;
  } 
}

@mixin use-animation($name, $time){
  -webkit-animation: $name $time infinite;
  -moz-animation: $name $time infinite;
  -o-animation: $name $time infinite;
  animation: $name $time infinite;
}

body{
  .pacman:before, .pacman:after{
    content: '';
    position: absolute;
    background: $g-red;
    width: $width;
    height: $height;
    left: 50%;
    top: 50%;
    margin-left: - $width/2;
    margin-top: - $height;
    border-radius: $height $height 0 0;
    @include use-animation(up, $time);
  }
  
  .pacman:after {
    margin-top: -1px;
    border-radius: 0 0 $height $height;
    @include use-animation(down, $time);
  } 
  
  .dot{
    position: absolute;
    left: 50%;
    top: 50%;
    width: $height/5;
    height: $height/5;
    margin-top: - $height/10;
    margin-left: 30px;
    border-radius: 50%;
    background: $g-blue;
    z-index: -1;
    box-shadow: 30px 0 0 $g-blue,
                60px 0 0 $g-blue,
                90px 0 0 $g-blue,
                120px 0 0 $g-blue,
                150px 0 0 $g-blue;
    @include use-animation(r-to-l, $time);
  }
}
//preloader component styling

//illustration image animations for jiggling
.animated-up-down {
  -webkit-animation: mover-ud 1s linear infinite  alternate;
  animation: mover-ud 1s linear infinite  alternate;
}

.animated-right-left {
  -webkit-animation: mover-rl 1s linear infinite alternate;
  animation: mover-rl 1s linear infinite alternate;
}

@-webkit-keyframes mover-ud {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover-ud {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

@-webkit-keyframes mover-rl {
  0% { transform: translateX(0); }
  100% { transform: translateX(-20px); }
}
@keyframes mover-rl {
  0% { transform: translateX(0); }
  100% { transform: translateX(-20px); }
}
//illustration image animatons for jiggling

//floating action button component styling
.floating-action-button {
    position: fixed;
    background: $g-yellow;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    right: 0.75rem;
    bottom: 0.75rem;
    z-index: 11;

    &:hover {
        color: white;
    }
}
//floating action button component styling

//introduction component styling
#home {
  .hero {
    background-color: $g-blue;
    margin-top: 80px;
  }
  
  .title {
    font-size: 3rem;
    color: white;
    font-family: $g-header-font, sans-serif;
    span {
      color: $g-red;
    }
  }
  
  .subtitle {
    font-size: 1.5rem;
    color: $g-yellow;
    font-family: $g-content-font, serif;
  }
}
//introduction component styling

//about component styling
#about {
  background-color: $g-white-like;
  .title {
    font-size: 3rem;
    color: $g-yellow;
    font-family: $g-header-font, sans-serif;
    text-align: center;
  }

  .subtitle {
    font-size: 1.5rem;
    color: $g-blue;
    font-family: $g-content-font, serif;
    line-height: 2rem;
  }
}
//about component styling

//service card component styling
#service-card {
  padding: 1rem; 
  margin: 0 0.5rem 1rem 0.5rem;
  background: #fff;
  overflow: hidden;
  text-align: center;
  height: 95%;

  .card-content {
    padding: 0.75rem;
  }

  .card-icon-wrapper {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    .card-icon-shaper {
      background-color: $g-blue;
      height: 80px;
      width: 80px;
      padding-top: 16px;
      border-radius: 20px;
    }
  }

  .card-title {
    padding-top: 1rem;
    font-size: 1.5rem;
    color: $g-red;
    font-family: $g-content-font, serif;
  }

  .card-subtitle {
    padding-top: 0.5rem;
    font-size: 1rem;
    color: $g-blue;
    font-family: $g-content-font, serif;
  }
}
//service card component styling

//services component styling
#services {
  background-color: $g-red;
  .title {
    font-size: 3rem;
    color: $g-white-like;
    font-family: $g-header-font, sans-serif;
    text-align: center;
  }
}
//services component styling

//achievements component styling
#achievements {
  background-color: $g-blue;
  .title {
    font-size: 1rem;
    font-weight: 400;
    color: $g-white-like;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .subtitle {
    font-size: 1rem;
    font-weight: 750;
    color: $g-red;
    margin-top: 0.25rem;;
  }
}
//achievements component styling

//details component styling
#details {
  background-color: $g-white-like;
  .header {
    font-size: 3rem;
    color: $g-yellow;
    font-family: $g-header-font, sans-serif;
    text-align: center;
  }
  .title {
    font-size: 2.5rem;
    color: $g-red;
    font-family: $g-content-font, serif;
    text-align: center;
  }

  .subtitle {
    padding-top: 1rem;
    font-size: 1.25rem;
    color: $g-blue;
    font-family: $g-content-font, serif;
    line-height: 2rem;
  }
}

@media (max-width: 768px) {
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}
//details component styling

//project component styling
#project {
  .project-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    text-shadow: 2px 2px 4px $g-white-like;
    .project-container {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      visibility: hidden;
      
    }
    &:hover {
      background-color: rgba(0,0,0,0.5);
      .project-container {
        height: 100%;
        border: 10px $g-yellow solid;
        visibility: visible;
      }
    }
  }

  .stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
  }

  .project-title {
    //margin-bottom: 0.75rem;
    font-size: 2rem;
    color: $g-white-like;
    font-family: $g-content-font, serif;
  }

  .eye-icon {
    color: #E6B749;
    font-size: 6rem;
  }

  @media (max-width: 600px) {
    .project-title {
      font-size: 1rem;
    }
    .eye-icon {
        font-size: 3rem;
    }
  }

}
//project component syling

//portfolio component styling
#portfolio {
  background-color: $g-green;
  .title {
    font-size: 3rem;
    color: $g-white-like;
    font-family: $g-header-font, sans-serif;
    text-align: center;
  }
}
//portfolio component styling

//testimonial card component styling
#testimonial-card {
  margin: auto;
  width: 80%; 
  
  nav {
    margin: 0.5rem 0rem;
  }

  span {
    color: $g-yellow;
  }

  .author-comment {
    font-family: $g-content-font, serif;
    font-size: 1rem;
    color: $g-white-like;
    line-height: 1.2rem;
  }

  .author-job {
    color: $g-red;
    font-size: 0.875rem;
    font-family: $g-content-font, serif;
  }

  .author {
    color: $g-red;
    font-size: 1.2rem;
    font-family: $g-content-font, serif;
  }
}
//testimonial card component styling

//testimonials component styling
.swiper-container {
  background-color: $g-blue;
  padding: 2rem 1rem !important;
}

.swiper-button-next {
  color: $g-yellow !important;
}

.swiper-button-prev {
  color: $g-yellow !important;
}
//testimonials component styling

//pricing component styling
#pricing {
  background-color: $g-white-like;
  .column {
    background-color: white;
    border-radius: 10px;
    padding: 2.5rem;
    margin: 0px 0px 2rem;
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  }
  .column:nth-child(2) {
    background-color: white;
    border-radius: 10px;
    padding: 2.5rem;
    margin: -2rem -0.33rem 0px;
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    z-index: 10;
  }
  h3 {
    color: $g-blue;
    font-size: 2rem;
    font-weight: 300px;
    font-family: $g-header-font, sans-serif;
    margin-bottom: 1rem;
  }
  h4 {
    color: $g-green;
    font-size: 4rem;
    font-weight: 400px;
  }
  h5 {
    color: #bababa;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  ul {
    font-size: 1rem;
    font-weight: 400;
    font-family: $g-content-font, serif;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0;
    list-style: none;
    color: #999;
    text-align: left;
    line-height: 1rem;
    li {
      padding-bottom: 0.75rem;
      display: list-item;
      text-align: -webkit-match-parent;
    }
  }
  .plan { 
    position: relative;
  }
}

//stupid ribbon challenge
@import url(https://fonts.googleapis.com/css?family=Lato:700);

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  padding: -40px;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}
//stupid ribbon challenge

.pricing-not-included {
  text-decoration: line-through;
}

.pricing-title {
  font-size: 3rem;
  color: $g-yellow;
  font-family: $g-header-font, sans-serif;
  text-align: center;
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .pricing-title {
    margin-bottom: 1.5rem;
  }
}
//pricing component styling

//contact component styling
#contact {
  background-color: $g-red;
  .title {
    font-size: 3rem;
    color: $g-white-like;
    font-family: $g-header-font, sans-serif;
    text-align: center;
    text-align: center;
  }
  .small-title {
    font-family: $g-content-font, serif;
    color: $g-blue;
    font-size: 1.5rem;
    text-align: center;
  }

  .notification {
    display: none;
  }

  a:nth-child(1) {
    color: 3b5998;
    &:hover {
      color: $g-yellow
    }
  }
  a:nth-child(2) {
    color: #1da1f2;
    &:hover {
      color: $g-yellow
    }
  }
  a:nth-child(3) {
    color: #c32aa3;
    &:hover {
      color: $g-yellow
    }
  }

  h5 {
    font-family: $g-content-font, serif;
    color: $g-red;
    font-size: 1rem;
    text-align: center;
  }

  form {
    label {
      font-family: $g-content-font, serif;
      color: $g-blue;
      font-size: 1rem;
    }
    button {
      width: 60%;
    }
  }
}
//contact component styling

//footer component styling 
.footer {
  background-color: $g-blue;
  text-align: center;
  padding: 3rem 1.5rem;
  p {
    color: $g-white-like;
    margin-bottom: 0.5rem;
    strong {
      color: $g-yellow;
    }
  }
  a {
    color: $g-red;
  }
}
//footer component styling 








